<div class="container fixed-bottom bg-primary bg-opacity-50">
    <footer class="py-1 my-0">
      <ul class="nav justify-content-center border-bottom pb-0 mb-0">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Politica de privacidad</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Aviso legal</a></li>
      </ul>
      <div class="text-center text-body-secondary fw-bold">&copy;DiagnoTricoWeb TFE - 2023 - Oscar A. Bernabé Puquio</div>
    </footer>
  </div>