<main class="form-signin m-auto pt-2 pb-1 abs-center">
    <form id="login-form">
    <img src="../../../assets/imagen/Unir.jpg" class="img-fluid" alt="Logo Unir">
    <h1 class="h3 mb-3 pt-1 fw-normal">Inicio de Sesión</h1>

    <div class="form-floating">
    <input type="text" class="form-control" id="username" placeholder="usuario" required>
    <label for="username">Usuario</label>
    </div>
    <div class="form-floating">
    <input type="password" class="form-control" id="password" placeholder="contraseña" required>
    <label for="password">Contraseña</label>
    </div>
    <button class="btn btn-primary w-100 mt-1 py-2" type="submit" (click)="login()">Iniciar sesión</button>
    </form>
</main>
